
*.*.
*.7z
*.a
*.add
*.app
*.bak
*.def
*.disabled*
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.gz
*.hex
*.i*86
*.json
*.ko
*.la
*.lib
*.lo
*.lock
*.log
*.o
*.obj
*.old
*.os
*.out
*.out
*.pch
*.rar
*.rock
*.so
*.so.*
*.swap
*.swp
*.tar
*.txt
*.x86_64
*.xz
*.zip
*.~*
*DS_Store*
*todo.*
*~*
spell/
